<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr />

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>Uppercase</td>
                    <td>{{ nombre | uppercase }}</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>Lowercase</td>
                    <td>{{ nombre | lowercase }}</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>Slice:3</td>
                    <td>{{ nombre | slice: 3 }}</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>Slice:0:3</td>
                    <td>{{ nombre | slice: 0:3 }}</td>
                </tr>
                <tr>
                    <td>{{ arreglo }}</td>
                    <td>Slice:1:5</td>
                    <td>{{ arreglo | slice: 1:5 }}</td>
                </tr>
                <tr>
                    <td>{{ pi }}</td>
                    <td>number:'3.0-0'</td>
                    <td>{{ pi | number: "3.0-0" }}</td>
                </tr>
                <tr>
                    <td>{{ pi }}</td>
                    <td>number:'.10-10'</td>
                    <td>{{ pi | number: ".10-10" }}</td>
                </tr>
                <tr>
                    <td>{{ porcentaje }}</td>
                    <td>percent</td>
                    <td>{{ porcentaje | percent }}</td>
                </tr>
                <tr>
                    <td>{{ porcentaje }}</td>
                    <td>percent:'2.2-2'</td>
                    <td>{{ porcentaje | percent: "2.2-2" }}</td>
                </tr>
                <tr>
                    <td>{{ salario }}</td>
                    <td>currency</td>
                    <td>{{ salario | currency }}</td>
                </tr>
                <tr>
                    <td>{{ salario }}</td>
                    <td>currency:'CLP'</td>
                    <td>{{ salario | currency: "CLP" }}</td>
                </tr>
                <tr>
                    <!-- Euro sin decimales -->
                    <td>{{ salario }}</td>
                    <td>currency:'EUR':'symbol':'.0-0'</td>
                    <td>{{ salario | currency: "EUR":"symbol":".0-0" }}</td>
                </tr>
                <tr>
                    <td>{{ heroe }}</td>
                    <td>json</td>
                    <td>
                        <pre>{{ heroe | json }}
                        </pre
            >
          </td>
        </tr>
        <tr>
          <td>{{ valorPromesa }}</td>
          <td>async</td>
          <td>{{ valorPromesa | async }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date</td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'medium'</td>
          <td>{{ fecha | date: "medium" }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'short'</td>
          <td>{{ fecha | date: "short" }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'MMMM - yyyy:MM:dd'</td>
          <td>{{ fecha | date: "MMMM - yyyy:MM:dd" }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date: "MMMM - yyyy:MM:dd":"":"fr"</td>
          <td>{{ fecha | date: "MMMM - yyyy:MM:dd":"":"fr" }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>
            date: 'MMMM - dd':'':{{ idioma }}
            <br />
            <button (click)="idioma = 'es-CL'" class="mr-1 btn btn-primary">
              Chilensis
            </button>
            <button (click)="idioma = 'en'" class="mr-1 btn btn-secondary">
              Inglés
            </button>
            <button (click)="idioma = 'fr'" class="mr-1 btn btn-success">
              Francés
            </button>
          </td>
          <td>{{ fecha | date: "MMMM - dd":"":idioma }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Slice</h3>
    <ul>
      <li *ngFor="let item of arreglo | slice: 5:20">{{ item }}</li>
    </ul>
  </div>
</div>